@import "./colors.scss";

.app {
  display: flex;
  height: 100vh;
}

.main {
  height: 100vh;
  overflow: auto;
}

.dark {
  background-color: $dark-theme-background-color;
  color: $dark-theme-text-color;
}
